<div class="carousel-indicators  custom-dots d-flex align-items-center justify-content-center" >
        <img [src]="rectangle" class="active rectangle" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"  aria-current="true" aria-label="Slide 1">
        <img [src]="rectangle" class="rectangle" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
        <img [src]="rectangle" class="rectangle" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
</div>