#container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
    border-radius: 24px;
    border: none;

    .input {
        border: none;
        background: none;
        width: 90%;
        height: 64px;
        outline: none;
        font-family: 'Signika';
        font-style: normal;
        font-size: 17px;
        line-height: 21px;
        position: relative;
        // input::placeholder {
        //     border: none;
        //     background: none;
        //     width: 90%;
        //     height: 40px;
        //     outline: none;
        //     font-family: 'Signika';
        //     font-style: normal;
        //     font-size: 17px;
        //     line-height: 21px;
        //     color: 'rgba(102, 102, 102, 0.4)',
        // }
    }
}